.columnWrapper {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    margin: 0 auto;
    width: 80%;
}
  
@media (max-width: 768px) {
    .columnWrapper {
      flex-direction: column; 
    }
}
  